doctype html(lang='en')
head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='')
    link(rel='icon', href='/favicon.ico')
    title Sport data

    link(href="/css/third-party.min.css", rel="stylesheet")
    // блок ссылок на css ресурсы в header
    block header_css_links

    // блок ссылок на js ресурсы в header
    block header_scripts
body
    // блок разметки в body
    block body_layout

    script(src="/js/third-party.js")
    script(src="/js/app/context.js")
    script(src="/js/app/app.js")

    script(src="/js/app/models/EventRow.js")
    script(src="/js/app/models/EventRowCollection.js")

    script(src="/js/app/views/upload-import-data.js")
    script(src="/js/app/views/remove-random-data.js")
    script(src="/js/app/views/events-grid-view.js")

    script(type="text/javascript").
        window.ioSID = '#{ioSID}';
        $(document).ready(function () {
            var app = new SportData.Application();
        });
    // блок ссылок на js ресурсы в body
    block body_scripts