doctype html(lang='en')
head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='')
    link(rel='icon', href='/favicon.ico')
    title Sport data
    // блок ссылок на css ресурсы в header
    block header_css_links
    // блок ссылок на js ресурсы в header
    block header_scripts
body
    // блок разметки в body
    block body_layout
    // блок ссылок на js ресурсы в body
    block body_scripts