#remove.panel.panel-default
    .panel-heading
        h3.panel-title Remove random data
    .panel-body
        .input-group.input-group-lg.col-lg-4(style="margin-bottom:26px")
            input.remove-percentage.form-control(type="text", placeholder="",value="1")
            span.input-group-addon %
        span.remove-action-info
        button.btn.btn-danger.pull-right.remove-event-rows-btn
            i.glyphicon.glyphicon-remove
            span Remove