// расширяем базовый шаблон блоками
extends ../index
// блок верстки в body
block body_layout
    .container
        .row
            .col-md-6
                // импорт формы загрузки файла с данными на сервер
                include upload-form
            .col-md-6
                // импорт формы запроса удаления случайных записей
                include delete-random-data-form
        .row
            .col-md-12
                // импорт верстки отображения загруженных данных
                include view-data-form
// блок подключения скриптов в конце тега body
block body_scripts