#upload.panel.panel-default
    .panel-heading
        h3.panel-title Upload gzipped data
    .panel-body
        .alert.alert-info.import-progress click button or drop file HERE to start import
        span.btn.btn-success.fileinput-button.pull-right
            i.glyphicon.glyphicon-plus
            span Upload file